# 忽略图片文件
plot/
*.png
*.jpg
*.jpeg

# 忽略数据集
dataset/
dataset_traincenter/

# 忽略日志
wandb/

# 忽略模型检查点
*.pth
*.pt
# 但不忽略 model 目录下的
!routing_model/model/*.pth
!routing_model/model/**/*.pt



# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# 数据文件（可选，根据需要）
# data/

# IDE
.vscode/
.idea/

# 日志文件
*.log